streamlit>=1.31.0
opencv-python>=4.8.0
opencv-contrib-python>=4.8.0  # Include if needed for specific functionalities
numpy>=1.23.0  # Adjust based on compatibility with other packages
matplotlib>=3.7.0  # Adjust based on compatibility with other packages
pillow>=8.0.0  # Adjust based on compatibility with other packages
# Add other required packages here
